
//add_product
form.product {
    
    textarea {
        max-width: 885px;
        max-height: 200px;
        height: 100px;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    label i {
        margin-right: 5px;
        &.fa {
            color: rgba(255, 165, 0, 0);
        }
    }
    
    .collections {
        //
        div {
            float: left;
            margin-right: 40px;
            
            input {
                &:checked + label {
                    border: 2px solid orange;
                    
                    i.fa {
                        color: orange;
                    }
                }
            }
            
            label {
                padding: 5px 10px;
                border: 2px solid #eee;
                background-color: #eee;
                
                &:hover {
                    border: 2px solid orange;
                    
                    i.fa {
                        color: orange;
                    }
                }
            }
            
        }
        .error_block {
            display: block;
            clear: both;
        }
    }
    
    .colors {
        
        div {
            float: left;
            margin-right: 40px;
            
            input {
                &:checked + label {
                    border: 2px solid orange;
                }
            }
            
            label {
                width: 20px;
                height: 20px;
                line-height: 20px;
                vertical-align: middle;
                box-shadow: 1px 1px 3px #888;
                
                &:hover {
                    border: 2px solid orange;
                }
            }
        }
    }
    
    .specifications {
        clear: both;
        input {
            float: left;
        }
        
        .name_input {
            width: 25%;
        }
        .desc_input {
            width: 75%;
        }
    }
}

//edit_product
.existing_images {
    margin-bottom: 20px;
    figure {
        width: 20%;
        float: left;
        img {
            width: 96%;
            height: auto;
            padding: 2%;
            background-color: #eee;
            margin-right: 5%;
        }
        
        .btn {
            padding: 2px 5px;
            width: 80px;
            display: block;
            margin: 0 auto;
            margin-top: 5px;
        }
    }
}



/* CLEARFIX */

.collections::before, .collections::after,
.colors::before, .colors::after,
.existing_images::before, .existing_images::after {
    line-height: 0;
    content: "";
    display: table;
}

.collections::after,
.colors::after,
.existing_images::after {
    clear: both;
}

