
//.items is styled in main.scss --> same styling as .hot_items

.sort {
    border-top: $grey_divider 1px solid;
    
    select {
        color: #cecece;
        background-color: $grey_divider;
        padding: 10px 20px;
        
        option {
            background-color: #fff;
            color: $grey_main;
            &[disabled]:first-child {
                display: none;
            }
            &:hover {
                background-color: #e9e9e9;
                color: blue;
            }
        }
        
    }
    
}
