
.header_product_detail {
    width: 100%;
    height: 200px;
    position: relative;
    .kowloon_logo {
        position: absolute;
        top: 50px;
        left: calc(50% - 150px);
    }
}

.product {
    .images {
        
        padding: 5px;
        background-color: $theme02;
        margin-bottom: 20px;
        border: 1px $main_border_color solid;
        
        .big_img {
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .small_img {
            padding: 0;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 2%;
            width: 32%;
            float: left;
            img {
                width: 100%;
                height: auto;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}


.colors {
    .color_bullet {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        float: left;
        margin-right: 5px;
    }
}

.specifications {
    border: 1px $main_border_color solid;
    padding: 15px;
    
    h4 {
        margin: 0;
    }
    
    .spec_desc {
        margin-left: 20px;
    }
}



/* CLEARFIX */
.colors::before, .colors::after,
.small_images::before, .small_images::after {
    content: "";
    line-height: 0;
    display: table;
}

.colors::after,
.small_images::after {
    clear: both;
}

