
.searchpage {
    background-color: #fff;
    padding-top: 25px;
    color: $theme02;
    .filter {
        margin-bottom: 25px;
        .title {
            .text {
                float: left;
                color: #000;
                font-size: 2em;
            }
            .arrow {
                display: block;
                width: 25px;
                height: 25px;
                margin-top: 8px;
                float: left;
                background: url(../images/icons/general_menu_icons_sprite.png) -125px -25px;
            }
            &.collapsed {
                .arrow {
                    background: url('../images/icons/general_menu_icons_sprite.png') -100px -25px;
                }
            }
        }
    }
}

.productblock {
    
    background-color: #fff;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 15px;
    
    .image {
        img {
            width: 100%;
            height: auto;
        }
    }
}


