#hamburger {
  display: none; }

#hamburger + label {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-color: #252525;
  color: #eee;
  cursor: pointer; }

.hamburger {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 45px;
  height: 45px;
  background: url("../images/icons/general_menu_icons_sprite.png") 0 -120px; }

.side_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  background-color: #323232;
  overflow: hidden;
  z-index: 5;
  color: #eee;
  padding-top: 60px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s; }
  .side_nav ul li a {
    display: block;
    padding: 6px; }
  .side_nav .general a {
    color: #a2a2a2; }
    .side_nav .general a span {
      float: left; }
    .side_nav .general a .text {
      line-height: 40px;
      vertical-align: middle;
      display: none; }
    .side_nav .general a:hover {
      color: #323232;
      background-color: #ededed; }
      .side_nav .general a:hover .search {
        background: url("../images/icons/general_menu_icons_sprite.png") 40px 0; }
      .side_nav .general a:hover .faq {
        background: url("../images/icons/general_menu_icons_sprite.png") 40px -40px; }
      .side_nav .general a:hover .about_us {
        background: url("../images/icons/general_menu_icons_sprite.png") 40px -80px; }
  .side_nav .general .search {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 0; }
  .side_nav .general .faq {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 -40px; }
  .side_nav .general .about_us {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 -80px; }
  .side_nav .categories ul a {
    display: block;
    color: #fff; }
    .side_nav .categories ul a span {
      float: left; }
      .side_nav .categories ul a span:first-child {
        display: block;
        width: 50px;
        height: 50px; }
    .side_nav .categories ul a .text {
      line-height: 50px;
      vertical-align: middle;
      display: none; }
    .side_nav .categories ul a .dog_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 0; }
    .side_nav .categories ul a .cat_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -50px; }
    .side_nav .categories ul a .fish_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -100px; }
    .side_nav .categories ul a .fish_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -100px; }
    .side_nav .categories ul a .bird_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -150px; }
    .side_nav .categories ul a .hamster_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -200px; }
    .side_nav .categories ul a:hover .dog_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px 0; }
    .side_nav .categories ul a:hover .cat_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -50px; }
    .side_nav .categories ul a:hover .fish_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -100px; }
    .side_nav .categories ul a:hover .bird_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -150px; }
    .side_nav .categories ul a:hover .hamster_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -200px; }
  .side_nav .categories img {
    width: 40px;
    height: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
    .side_nav .categories img:hover {
      -webkit-filter: none;
      filter: none; }
  .side_nav .categories span {
    display: none; }

#hamburger:checked ~ .side_nav {
  width: 217px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #cecece; }

.content {
  margin-left: 60px;
  background-color: #454545; }

.row {
  width: 100%;
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

.col-md-12 {
  padding: 0; }

.header_img {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative; }
  .header_img img {
    width: 100%;
    height: auto; }
  .header_img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(212, 18, 82, 0.53);
    opacity: 0.75; }

.header_slider {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative; }
  .header_slider img {
    width: 100%;
    height: auto; }
  .header_slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(212, 18, 82, 0.53);
    opacity: 0.75; }

.page_content {
  padding-bottom: 100px; }
  .page_content .categories .category {
    border-right: 1px solid #616161; }
    .page_content .categories .category div:first-child {
      width: 100px;
      height: 100px; }
    .page_content .categories .category .cat_dogs {
      background: url("../images/icons/category_icons_sprite.png") -100px -250px; }
    .page_content .categories .category .cat_cats {
      background: url("../images/icons/category_icons_sprite.png") -100px -350px; }
    .page_content .categories .category .cat_fish {
      background: url("../images/icons/category_icons_sprite.png") -100px -450px; }
    .page_content .categories .category .cat_birds {
      background: url("../images/icons/category_icons_sprite.png") -100px -550px; }
    .page_content .categories .category .cat_hamsters {
      background: url("../images/icons/category_icons_sprite.png") -100px -650px; }
    .page_content .categories .category .cat_other {
      background: url("../images/icons/category_icons_sprite.png") -100px -750px; }
  .page_content .bottom {
    color: #fff;
    height: 185px; }
    .page_content .bottom .deals {
      height: 100%;
      background-image: url(../images/pattern_a.jpg);
      text-align: center;
      position: relative; }
      .page_content .bottom .deals div:first-child {
        font-size: 3em;
        line-height: 1.1em;
        margin-top: 20px; }
      .page_content .bottom .deals div:nth-child(2) {
        font-size: 1.2em;
        position: absolute;
        bottom: 5%; }
    .page_content .bottom .newsletter {
      background-color: #5f5f5f;
      height: 100%; }

/* **********    CLEARFIX     ********** */
.general a::before, .general a::after,
.categories a::before, .categories a::after {
  content: "";
  line-height: 0;
  display: table; }

.general a::after,
.categories a::after {
  clear: both; }

/*# sourceMappingURL=main.css.map */
