@font-face {
  font-family: choplin-extralight;
  src: url("../fonts/Choplin-ExtraLight-DEMO.otf"); }
@font-face {
  font-family: choplin-medium;
  src: url("../fonts/Choplin-Medium-DEMO.otf"); }
#hamburger {
  display: none; }

#hamburger + label {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 35;
  width: 60px;
  height: 60px;
  background-color: #252525;
  color: #eee;
  cursor: pointer; }

.hamburger {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  background: url("../images/icons/general_menu_icons_sprite.png") 0 -150px; }

.side_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  background-color: #323232;
  overflow: hidden;
  z-index: 30;
  color: #eee;
  padding-top: 60px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s; }
  .side_nav ul li a {
    display: block;
    padding: 6px; }
  .side_nav .general li:nth-child(3) {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545; }
  .side_nav .general a {
    color: #a2a2a2; }
    .side_nav .general a span {
      float: left; }
    .side_nav .general a .text {
      line-height: 50px;
      vertical-align: middle;
      display: none; }
    .side_nav .general a:hover, .side_nav .general a.active {
      color: #323232;
      background-color: #ededed; }
      .side_nav .general a:hover .search, .side_nav .general a.active .search {
        background: url("../images/icons/general_menu_icons_sprite.png") -50px 0; }
      .side_nav .general a:hover .faq, .side_nav .general a.active .faq {
        background: url("../images/icons/general_menu_icons_sprite.png") -50px -50px; }
      .side_nav .general a:hover .about_us, .side_nav .general a.active .about_us {
        background: url("../images/icons/general_menu_icons_sprite.png") -50px -100px; }
  .side_nav .general .search {
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 0; }
  .side_nav .general .faq {
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 -50px; }
  .side_nav .general .about_us {
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/general_menu_icons_sprite.png") 0 -100px; }
  .side_nav .categories ul a {
    display: block;
    color: #fff; }
    .side_nav .categories ul a span {
      float: left; }
      .side_nav .categories ul a span:first-child {
        display: block;
        width: 50px;
        height: 50px; }
    .side_nav .categories ul a .text {
      line-height: 50px;
      vertical-align: middle;
      display: none; }
    .side_nav .categories ul a .dogs_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 0; }
    .side_nav .categories ul a .cats_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -50px; }
    .side_nav .categories ul a .fish_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -100px; }
    .side_nav .categories ul a .birds_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -150px; }
    .side_nav .categories ul a .small_animals_icon {
      background: url("../images/icons/category_icons_sprite.png") 0 -200px; }
    .side_nav .categories ul a:hover .dogs_icon, .side_nav .categories ul a.active .dogs_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px 0; }
    .side_nav .categories ul a:hover .cats_icon, .side_nav .categories ul a.active .cats_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -50px; }
    .side_nav .categories ul a:hover .fish_icon, .side_nav .categories ul a.active .fish_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -100px; }
    .side_nav .categories ul a:hover .birds_icon, .side_nav .categories ul a.active .birds_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -150px; }
    .side_nav .categories ul a:hover .small_animals_icon, .side_nav .categories ul a.active .small_animals_icon {
      background: url("../images/icons/category_icons_sprite.png") -50px -200px; }
  .side_nav .categories img {
    width: 40px;
    height: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
    .side_nav .categories img:hover {
      -webkit-filter: none;
      filter: none; }
  .side_nav .categories span {
    display: none; }
  .side_nav .logo {
    width: 100%;
    padding: 6px;
    position: absolute;
    bottom: 0px; }
    .side_nav .logo a {
      display: block;
      width: 100%;
      height: 50px;
      background: url("../images/icons/general_menu_icons_sprite.png") -50px -150px; }
      .side_nav .logo a.show_full {
        background: url("../images/icons/general_menu_icons_sprite.png") 0px -200px; }

#hamburger:checked ~ .side_nav {
  width: 217px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #cecece; }

.cookies {
  z-index: 50;
  background-color: #e6cfb9;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  color: #454545; }
  .cookies .left, .cookies .right {
    float: left; }
  .cookies .left {
    width: 20%;
    padding-left: 50px; }
    .cookies .left img {
      padding: 15px; }
  .cookies .right {
    width: 80%; }
    .cookies .right h3 {
      color: #e27500;
      font-size: 2.2em; }
    .cookies .right a {
      display: block;
      width: 250px;
      margin-top: 20px;
      padding: 15px;
      background-color: #e27500;
      color: #fff;
      text-align: center;
      font-size: 1.3em;
      font-weight: bold; }
  .cookies .close_tag {
    position: absolute;
    top: 20px;
    right: 20px; }
    .cookies .close_tag a {
      color: #e27500;
      font-size: 1.2em;
      font-weight: bold; }

.breadcrumbs .kowloon_logo {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../images/icons/general_menu_icons_sprite.png") -50px -150px;
  float: left; }
.breadcrumbs a {
  color: #cecece; }
.breadcrumbs .breadcrumb {
  position: relative;
  background: #323232;
  float: left;
  padding: 2px 15px;
  margin-top: 10px;
  margin-right: 10px; }
  .breadcrumbs .breadcrumb:after {
    right: 97%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(66, 66, 66, 0);
    border-right-color: #323232;
    border-width: 12px;
    margin-top: -12px; }
  .breadcrumbs .breadcrumb span {
    float: left; }
    .breadcrumbs .breadcrumb span[class^="dot"] {
      width: 10px;
      height: 10px;
      margin-top: 5px;
      margin-right: 5px;
      display: block;
      border-radius: 50%; }
    .breadcrumbs .breadcrumb span.dot_dogs {
      background-color: #ff6f9e; }
    .breadcrumbs .breadcrumb span.dot_cats {
      background-color: #8787ff; }
    .breadcrumbs .breadcrumb span.dot_fish {
      background-color: #ffb93f; }
    .breadcrumbs .breadcrumb span.dot_birds {
      background-color: #7bff81; }
    .breadcrumbs .breadcrumb span.dot_small_animals {
      background-color: #7be5ff; }

.pagination_block {
  text-align: center; }
  .pagination_block.page_links01 li span, .pagination_block.page_links01 li a {
    color: #ff6f9e; }
  .pagination_block.page_links01 li.active span {
    background-color: #ff6f9e;
    border-color: #ff6f9e;
    color: #fff; }
  .pagination_block.page_links02 li span, .pagination_block.page_links02 li a {
    color: #e27500; }
  .pagination_block.page_links02 li.active span {
    background-color: #e27500;
    border-color: #e27500;
    color: #fff; }

.content {
  margin-left: 60px;
  background-color: #454545;
  position: relative; }
  .content.landing {
    margin-left: 0; }
    .content.landing .language_box {
      background-color: #e6cfb9;
      width: 400px;
      text-align: center;
      margin: 0 auto;
      margin-top: 200px; }
      .content.landing .language_box a {
        display: block;
        color: #e27500;
        font-size: 1.3em;
        padding: 15px;
        border-bottom: 2px #e27500 solid; }
        .content.landing .language_box a:last-child {
          border-bottom: none; }
        .content.landing .language_box a:hover {
          background-color: #e27500;
          color: #fff;
          text-decoration: none; }

.faq_overlay {
  position: absolute;
  width: 100%;
  color: #535353;
  /*
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 25;
  display: none;
  */ }

h1, h2, h3 {
  color: #fff;
  font-family: choplin-medium; }

.row {
  width: 100%;
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

.col-md-12 {
  padding: 0; }

.header_slider {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative; }
  .header_slider img {
    width: 100%;
    height: auto; }
  .header_slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(212, 18, 82, 0.53);
    opacity: 0.75; }
  .header_slider .kowloon_logo {
    position: absolute;
    top: 50px;
    left: calc(50% - 150px); }

/*  FAQ  */
.faq_overlay {
  padding-top: 150px; }

h2 {
  color: #e27500; }

.input {
  position: relative; }
  .input .search_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../images/icons/general_menu_icons_sprite.png) -50px 0; }

#searchword {
  padding: 5px 10px;
  padding-left: 50px;
  padding-bottom: 15px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border-bottom: 2px solid #000;
  width: 100%;
  font-size: 1.8em;
  color: #535353; }
  #searchword:focus {
    outline: none; }

.clear {
  text-align: right; }
  .clear i, .clear span {
    cursor: pointer; }

.results .questionblock {
  background-color: #fff;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 15px; }
  .results .questionblock h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold; }
  .results .questionblock .answer {
    margin-left: 20px; }

/* SEARCH */
.searchpage {
  background-color: #fff;
  padding-top: 25px;
  color: #565656; }
  .searchpage .filter {
    margin-bottom: 25px; }
    .searchpage .filter .title .textfilter {
      float: left;
      color: #000;
      font-size: 2em; }
    .searchpage .filter .title .arrow {
      display: block;
      width: 25px;
      height: 25px;
      margin-top: 8px;
      float: left;
      background: url(../images/icons/general_menu_icons_sprite.png) -125px -25px; }
    .searchpage .filter .title.collapsed .arrow {
      background: url("../images/icons/general_menu_icons_sprite.png") -100px -25px; }
  .searchpage .search input::-webkit-input-placeholder {
    color: #e27500; }
  .searchpage .search input::-moz-placeholder {
    color: #909;
    opacity: 1; }

.productblock {
  background-color: #fff;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 15px; }
  .productblock .image img {
    width: 100%;
    height: auto; }
  .productblock h4 a {
    color: #e27500; }

.page_content {
  padding-bottom: 100px; }
  .page_content .intro {
    padding-top: 25px; }
  .page_content .categories .category {
    border-right: 1px solid #616161; }
    .page_content .categories .category a {
      color: #fff; }
      .page_content .categories .category a div:first-child {
        width: 100px;
        height: 100px; }
      .page_content .categories .category a .cat_dogs {
        background: url("../images/icons/category_icons_sprite.png") -100px -250px; }
      .page_content .categories .category a .cat_cats {
        background: url("../images/icons/category_icons_sprite.png") -100px -350px; }
      .page_content .categories .category a .cat_fish {
        background: url("../images/icons/category_icons_sprite.png") -100px -450px; }
      .page_content .categories .category a .cat_birds {
        background: url("../images/icons/category_icons_sprite.png") -100px -550px; }
      .page_content .categories .category a .cat_small_animals {
        background: url("../images/icons/category_icons_sprite.png") -100px -650px; }
      .page_content .categories .category a .cat_other {
        background: url("../images/icons/category_icons_sprite.png") -100px -750px; }
  .page_content .hot_items .hot_item,
  .page_content .hot_items .item,
  .page_content .items .hot_item,
  .page_content .items .item {
    width: calc((100% - 15px)/4);
    padding: 4px;
    border: 1px solid #717171;
    margin-right: 5px;
    background-color: #565656;
    float: left; }
    .page_content .hot_items .hot_item:nth-child(4),
    .page_content .hot_items .item:nth-child(4),
    .page_content .items .hot_item:nth-child(4),
    .page_content .items .item:nth-child(4) {
      margin-right: 0; }
    .page_content .hot_items .hot_item a,
    .page_content .hot_items .item a,
    .page_content .items .hot_item a,
    .page_content .items .item a {
      color: #fff; }
      .page_content .hot_items .hot_item a figure,
      .page_content .hot_items .item a figure,
      .page_content .items .hot_item a figure,
      .page_content .items .item a figure {
        width: 100%; }
        .page_content .hot_items .hot_item a figure .img,
        .page_content .hot_items .item a figure .img,
        .page_content .items .hot_item a figure .img,
        .page_content .items .item a figure .img {
          position: relative; }
          .page_content .hot_items .hot_item a figure .img img,
          .page_content .hot_items .item a figure .img img,
          .page_content .items .hot_item a figure .img img,
          .page_content .items .item a figure .img img {
            width: 100%;
            height: auto; }
          .page_content .hot_items .hot_item a figure .img .overlay_icon,
          .page_content .hot_items .item a figure .img .overlay_icon,
          .page_content .items .hot_item a figure .img .overlay_icon,
          .page_content .items .item a figure .img .overlay_icon {
            display: none; }
        .page_content .hot_items .hot_item a figure .title,
        .page_content .hot_items .item a figure .title,
        .page_content .items .hot_item a figure .title,
        .page_content .items .item a figure .title {
          font-weight: bold;
          float: left; }
        .page_content .hot_items .hot_item a figure .price,
        .page_content .hot_items .item a figure .price,
        .page_content .items .hot_item a figure .price,
        .page_content .items .item a figure .price {
          float: right; }
      .page_content .hot_items .hot_item a:hover .overlay,
      .page_content .hot_items .item a:hover .overlay,
      .page_content .items .hot_item a:hover .overlay,
      .page_content .items .item a:hover .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 111, 158, 0.85); }
      .page_content .hot_items .hot_item a:hover figure .img .overlay_icon,
      .page_content .hot_items .item a:hover figure .img .overlay_icon,
      .page_content .items .hot_item a:hover figure .img .overlay_icon,
      .page_content .items .item a:hover figure .img .overlay_icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/icons/view_details.png");
        background-repeat: no-repeat;
        background-position: center; }
        .page_content .hot_items .hot_item a:hover figure .img .overlay_icon span,
        .page_content .hot_items .item a:hover figure .img .overlay_icon span,
        .page_content .items .hot_item a:hover figure .img .overlay_icon span,
        .page_content .items .item a:hover figure .img .overlay_icon span {
          position: absolute;
          left: calc(50% - 37px);
          top: 65%; }
  .page_content .visit_store {
    text-align: right; }
    .page_content .visit_store a {
      color: #fff;
      text-decoration: underline; }
  .page_content .bottom {
    color: #fff;
    height: 185px;
    margin-top: 70px; }
    .page_content .bottom .deals {
      font-family: choplin-medium;
      height: 100%;
      background-image: url(../images/pattern_a.jpg);
      text-align: center;
      position: relative; }
      .page_content .bottom .deals div:first-child {
        font-size: 3em;
        line-height: 1.1em;
        margin-top: 20px; }
      .page_content .bottom .deals div:nth-child(2) {
        font-size: 1.2em;
        position: absolute;
        bottom: 5%; }
    .page_content .bottom .newsletter {
      background-color: #5f5f5f;
      height: 100%; }
      .page_content .bottom .newsletter input {
        padding: 5px;
        border: 1px solid #bcbcbc; }
        .page_content .bottom .newsletter input[type="email"] {
          width: 230px;
          color: #000; }
        .page_content .bottom .newsletter input[type="submit"] {
          background-color: #323232;
          border: 1px solid #323232;
          margin-left: -5px; }
      .page_content .bottom .newsletter .subscriber_error {
        color: #e87b7b; }

.subscribed_confirmation {
  text-align: center;
  margin-bottom: 450px; }

/*    ABOUT US     */
.header_img {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative; }
  .header_img img {
    width: 100%;
    height: auto; }
  .header_img .kowloon_logo {
    position: absolute;
    top: 50px;
    left: calc(50% - 150px); }

.about_us {
  padding: 0; }

.contact {
  border-bottom: 1px solid #616161;
  border-left: 1px solid #616161; }
  .contact ul {
    list-style: disc;
    padding-left: 15px; }

.contact_form div {
  margin-bottom: 30px;
  color: #fff; }
  .contact_form div label {
    display: block;
    font-weight: normal; }
  .contact_form div input, .contact_form div textarea {
    padding: 10px 15px;
    border: #9a9a9a solid 2px;
    color: #000; }
  .contact_form div input {
    width: 220px; }
    .contact_form div input[type="submit"] {
      border: none;
      background-color: #ff6f9e;
      font-weight: bold;
      color: #fff; }
  .contact_form div textarea {
    width: 715px;
    height: 135px; }

.faqs .questionblock {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #717171;
  color: #fff; }
  .faqs .questionblock .question {
    cursor: pointer; }
    .faqs .questionblock .question h4 {
      margin: 0;
      float: left; }
    .faqs .questionblock .question .arrow {
      display: block;
      width: 25px;
      height: 25px;
      float: right;
      background: url("../images/icons/general_menu_icons_sprite.png") -125px 0; }
    .faqs .questionblock .question.collapsed .arrow {
      background: url("../images/icons/general_menu_icons_sprite.png") -100px 0px; }
  .faqs .questionblock .answer {
    padding-left: 20px; }

/* CLEARFIX */
.breadcrumbs::before, .breadcrumbs::after,
.question::before, .question::after {
  content: "";
  line-height: 0;
  display: table; }

.breadcrumbs::after,
.question::after {
  clear: both; }

/*    PRODUCTS OVERVIEW     */
.product_filter input {
  color: #454545; }
.product_filter .filter .title .text {
  float: left; }
.product_filter .filter .title .arrow {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -3px;
  float: left;
  background: url("../images/icons/general_menu_icons_sprite.png") -125px 0; }
.product_filter .filter .title.collapsed .arrow {
  background: url("../images/icons/general_menu_icons_sprite.png") -100px 0px; }
.product_filter .sort {
  border-top: #616161 1px solid;
  padding-top: 10px; }
  .product_filter .sort select {
    color: #cecece;
    background-color: #616161;
    padding: 10px 20px; }
    .product_filter .sort select option {
      background-color: #fff;
      color: #454545; }
      .product_filter .sort select option[disabled]:first-child {
        display: none; }
      .product_filter .sort select option:hover {
        background-color: #e9e9e9;
        color: blue; }
.product_filter input[type="submit"] {
  border: none;
  background-color: #ff6f9e;
  font-weight: bold;
  color: #fff;
  width: 193px;
  margin: 15px 0;
  font-weight: normal;
  padding: 5px; }

.result_amount {
  float: right;
  text-align: right; }
  .result_amount strong {
    color: #fff; }

.nothing_available {
  margin-bottom: 100px; }

/* CLEARFIX */
.title::before, .title::after {
  content: "";
  line-height: 0;
  display: table; }

.title::after {
  clear: both; }

/*    PRODUCT DETAILS      */
.header_product_detail {
  width: 100%;
  height: 200px;
  position: relative; }
  .header_product_detail .kowloon_logo {
    position: absolute;
    top: 50px;
    left: calc(50% - 150px); }

.product .images {
  padding: 5px;
  background-color: #565656;
  margin-bottom: 20px;
  border: 1px #717171 solid; }
  .product .images .big_img img {
    width: 100%;
    height: auto; }
  .product .images .small_img {
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 2%;
    width: 32%;
    float: left; }
    .product .images .small_img img {
      width: 100%;
      height: auto; }
    .product .images .small_img:nth-child(3n+3) {
      margin-right: 0; }

.colors .color_bullet {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
  margin-right: 5px; }

.specifications {
  border: 1px #717171 solid;
  padding: 15px; }
  .specifications h4 {
    margin: 0; }
  .specifications .spec_desc {
    margin-left: 20px; }

/* CLEARFIX */
.colors::before, .colors::after,
.small_images::before, .small_images::after {
  content: "";
  line-height: 0;
  display: table; }

.colors::after,
.small_images::after {
  clear: both; }

/* **********    CLEARFIX     ********** */
.cookies::before, .cookies::after,
.general a::before, .general a::after,
.breadcrumb::before, .breadcrumb::after,
.categories a::before, .categories a::after,
.hot_items .items::before, .hot_items .items::after,
figure figcaption::before, figure figcaption::after {
  content: "";
  line-height: 0;
  display: table; }

.cookies::after,
.general a::after,
.breadcrumb::after,
.categories a::after,
.hot_items .items::after,
figure figcaption::after {
  clear: both; }

/*# sourceMappingURL=main.css.map */
